# üõ†Ô∏è Titanic Survival Prediction - Feature encoding

This notebook is part of the Titanic Survival Prediction project. In this phase, we encode features.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/kaggle/input/titanic-fe/titanic_fe.csv")

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
df.sample(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,isAlone,Title,FareBin,AgeBin
103,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,8.6542,S,1,0,Mr,"(7.91, 14.454]","(32.0, 48.0]"
412,1,1,"Minahan, Miss. Daisy E",female,33.0,1,0,90.0000,Q,2,1,Miss,"(31.0, 512.329]","(32.0, 48.0]"
272,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,0,1,19.5000,S,2,1,Mrs,"(14.454, 31.0]","(32.0, 48.0]"
607,1,1,"Daniel, Mr. Robert Williams",male,27.0,0,0,30.5000,S,1,0,Mr,"(14.454, 31.0]","(16.0, 32.0]"
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,16.0000,S,1,0,Mrs,"(14.454, 31.0]","(48.0, 64.0]"

In [5]:
columns_to_encode = ["Sex", "Embarked", "Title", "FareBin", "AgeBin"]

for column in columns_to_encode:
    encoder = LabelEncoder()
    df[column] = encoder.fit_transform(df[column])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Name        891 non-null    object
 3   Sex         891 non-null    int64
 4   Age         891 non-null    float64
 5   SibSp       891 non-null    int64
 6   Parch       891 non-null    int64
 7   Fare        891 non-null    float64
 8   Embarked    891 non-null    int64
 9   FamilySize  891 non-null    int64
 10  isAlone     891 non-null    int64
 11  Title       891 non-null    int64
 12  FareBin     891 non-null    int64
 13  AgeBin      891 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 97.6+ KB

In [7]:
df.drop(columns=["Name", "SibSp", "Parch"]).to_csv(
    "titanic_features.csv", index=False)